@charset "UTF-8";

body {
    background-color: rgb(168, 239, 239);
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    width: 300px;
}

h1 {
    color: rgb(159, 216, 102)
}
 h1#Principal {
    text-align: center;
 }

h2 {
    color: rgba(129, 137, 13, 0.821);
}

.basico {
    color: blue;
}

.intermediario {

    color: brown;
}

.avancado {

    color: blueviolet;
}